body {
    color: white;
    background-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
=======
    font-size: 32px;
>>>>>>> 0fe564aaf85cff0a307f02e0581c6cd57ff6b6cf
=======
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
>>>>>>> c86a78e8b8e0ad4df8fdd9885f0072852c24e655
 }